@media screen and (min-width:1280px) {
    li{
        display: inline;
    }
    #movie{
        width: 300px;
    }
    #trends{
        position: relative;
        top: 300px;
        left: 1500px;
    }
    #Homepagefoto{
        height: 200px;
        width: 400px;
    }
    #title1{
        position: relative;
        bottom: 530px;
    }
    #article1home{
        display: flex;
        position: relative;
        bottom: 550px;
    }
    #article2home{
        display: flex;
    }
    #title3{
        position: relative;
        top: 500px;
    }
    #article3home{
        display: flex;
        position: relative;
        top: 500px;
    }
    #menuToggle
    {
      display: block;
      position: relative;
      top: 50px;
      left: 50px;
      font-size: 10px;
      z-index: 1;
      display: none;
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
        display: none;
      text-decoration: none;
      color: #232323;
      font-size: 10px;
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: tomato;
    }
    
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: #cdcdcd;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }
    
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }
    
    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
    /*bestdestination*/
    #grid{
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto auto;
    }
    #article1{
        grid-column: 2/ span 1;
    }
    #article2{
        grid-row: 1 /1 ;
    }
    #article5{
        grid-column: 1/2  ;
        grid-row: 2/3;
    }
}

@media screen and (min-width:481px) and (max-width:1179px) {
    #Logo{
        width: 100px;
    }
    li{
        display: inline;
    }
    #movie{
        width: 200px;
        position: relative;
        top: 250px;
    }
    #trends{
        position: relative;
        bottom: 150px;
    }
    #title1{
        margin-left: 300px;
    }
    #article1home{
        display: flex;
        flex-direction: row-reverse;
    }
    #title2{
        margin-left: 300px;
    }
    #title3{
        margin-left: 300px;
    }
    #article2home{
        display: flex;
        flex-direction: row-reverse;
    }
    #article3home{
        display: flex;
        flex-direction: row-reverse;
    }
    
    #title{
        margin-left: 300px;
    }
    #Homepagefoto{
        height: 100px;
        width: 200px;
    }
    #menuToggle
    {
      display: block;
      position: relative;
      top: 50px;
      left: 50px;
      font-size: 10px;
      z-index: 1;
      display: none;
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
        display: none;
      text-decoration: none;
      color: #232323;
      font-size: 10px;
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: tomato;
    }
    
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: #cdcdcd;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }
    
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }
    
    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
    /*bestdestination*/
    #article1{
        position: relative;
       bottom: 500px;
        grid-column: 1/1;
    }
    #article4{
        display: none;
    }
    #article2{
        position: relative;
        right: 250px;
        bottom: 100px;
    }
    #article3{
        position: relative;
        top: 240px;
        right: 250px;
    }
    #article5{
        position: relative;
        left: 250px;
        top: 200px;
    }
    #article6{
        position: relative;
        
        top: 700px;
        grid-column: 1/4;
    }
    #moskee{
        display: none;
    }
    #Dubai{
        width: 100px;
    }
    #Tunesie{
        width: 100px;
    }
    #grid{
        display: grid;
        grid-template-columns: auto auto ;
    }

}

@media screen and (max-width: 480px) {
    #title{
        font-size: 10px;
    }
    #Logo{
        display: none;
    }
    #Nav{
        display: none;
    }
    #trends{
        font-size: 3px;
    }
    #headpagetitle{
        font-size: 5px;
    }
    #title{
        margin-left: 200px;
    }
    #text{
        font-size: 5px;
        width: 500px;
    }
    #movie{
        display: none;
    }
    #Homepagefoto{
        height: 50px;
        width: 200px;
    }
    #trabzon{
        height: 50px;
        width: 100px;
    }
    #copyright{
        font-size: 5;
    }
    #title1{
        margin-left: 300px;
    }
    #article1home{
        display: flex;
        flex-direction: row-reverse;
    }
    #title2{
        margin-left: 300px;
    }
    #title3{
        margin-left: 300px;
    }
    #article2home{
        display: flex;
        flex-direction: row-reverse;
    }
    #article3home{
        display: flex;
        flex-direction: row-reverse;
    }
    #menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  font-size: 10px;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  font-size: 10px;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
/*bestdestinations*/

/*tickets*/

}
